[project]
	description = Store Library And Project relational Bunifu 
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Hau Nguyen Trung (flightstar)
[access "refs/for/refs/*"]
	read = group user/Hau Nguyen Trung (flightstar)
	push = group user/Hau Nguyen Trung (flightstar)
	label-Code-Review = -2..+2 group user/Hau Nguyen Trung (flightstar)
	label-Verified = -1..+1 group user/Hau Nguyen Trung (flightstar)
	rebase = group user/Hau Nguyen Trung (flightstar)
	removeReviewer = group user/Hau Nguyen Trung (flightstar)
	submit = group user/Hau Nguyen Trung (flightstar)
[access "refs/heads/*"]
	read = group user/Hau Nguyen Trung (flightstar)
	create = group user/Hau Nguyen Trung (flightstar)
	push = +force group user/Hau Nguyen Trung (flightstar)
	pushMerge = group user/Hau Nguyen Trung (flightstar)
[access "refs/tags/*"]
	push = group user/Hau Nguyen Trung (flightstar)
	push = +force group user/Hau Nguyen Trung (flightstar)
